<% if user_signed_in? %>
  <li>
  <%= image_tag current_user.avatar.url(:medium), :width => "50", :height=>"50" %>
  <%= current_user.email%>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>