<div class="row">
	<div class="col-md-12" id = "timkiem_cauthu_area">
		<p class="row" style = "margin: auto"><i>Enter the name you want to find players:</i></p>
	  <div class="input-group">
	    <span class="input-group-btn">
	      <button class="btn btn-default" type="button" id = "search_cauthu"><span class="glyphicon glyphicon-search"></span></button>
	    </span>
	    <input type="text" class="form-control" id = "keyword_cauthu" placeholder="Player name">
	  </div><!-- /input-group -->
	  <%= render "home/cauthu_mini_item"%>	 
	  
  </div>
</div>