   <div id="content">
  <div id="left">

    <h1 class = "text-center"> <span class = "glyphicon glyphicon-info-sign"></span>Information...</h1>
    <p class= "text-center">
    <%= image_tag "BDLG.png", :with=> "100%"%>
    </p>
    </br>
    </br>
    <p style = "font-size:18px; font-style:normal; line-height: 150%;text-indent: 50px;" class="text-justify">

      The Bundesliga [ˈfuːsbal ˈbʊndəsˌliːɡa] (English: Federal League), sometimes referred to as the Fußball-Bundesliga or 1. Bundesliga, is a professional association football league in Germany and the football league with the highest average stadium attendance worldwide. At the top of the German football league system, the Bundesliga is Germany's primary football competition. The Bundesliga is contested by 18 teams and operates on a system of promotion and relegation with the 2. Bundesliga. Seasons run from August to May. Most games are played on Saturdays and Sundays, with a few games played during weekdays. All of the Bundesliga clubs qualify for the DFB-Pokal. The winner of the Bundesliga qualifies for the DFL-Supercup.</br>
      A total of 53 clubs have competed in the Bundesliga since its founding. FC Bayern Munich has won the Bundesliga the most, winning the title 24 times. However, the Bundesliga has seen other champions with Borussia Dortmund, Hamburger SV, Werder Bremen, Borussia Mönchengladbach and VfB Stuttgart most prominent among them. The Bundesliga is one of the top national leagues, currently ranked 3rd in Europe according to UEFA's league coefficient ranking, based on recent European performances.[1] The Bundesliga is the number one football league in the world in terms of average attendance; out of all sports, its average of 45,134 fans per game during the 2011–12 season was the second highest of any sports league in the world.[2] The Bundesliga is broadcast on television in over 200 countries.[3]</br>
      The Bundesliga was founded in 1962 in Dortmund and the first season started in 1963. The structure and organisation of the Bundesliga along with Germany's other football leagues have undergone frequent changes right up to the present day. The Bundesliga was originally founded by the Deutscher Fußball-Bund (English: German Football Association), but is now operated by the Deutsche Fußball Liga (English: German Football League)...</br>

    </p>
    </br>
    <p class = "pull-right" ><span class="glyphicon glyphicon-hand-right" aria-hidden="true"><a href = "https://en.wikipedia.org/wiki/Bundesliga" >  Follow Wikipedia </a></span></p></br>
    <p>Website was designed by Thanh Tien & Thien Phuc</p>

  	
	</div>
  	
 <div id="right">
<%=render "home/right" %>
 	</div>
    </div>
<div style="clear:both"></div>