<div id="content">
	<div id="content_content">		 
	<div class="panel panel-info">
	<%=render "home/menu_chitietdoibong" %>	
	
	<div class="col-md-3">
		<%= render "home/list_cauthu_doibong"%>
	</div>
	
	<div class="col-md-6">
		<%= render "home/cauthu_slider"%>
	</div>

	<div class="col-md-3">
		<%= render "home/timkiem_cauthu"%>
	</div>
	</div>
	<div style="clear:both"></div>
</div>
</div>